body {
  color: #333;
  font-family: Verdana, sans-serif;
  margin: 0;
}

/* header */
header {
  background-color: #efefef;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.icon img {
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: white;
}

.info {
  margin-left: 30px;
}

.info h1 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.info p {
  margin: 0;
  margin-bottom: 16px;
}

.info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.info ul li {
  margin-right: 6px;
}

.info ul li img {
  width: 80px;
  height: 20px;
}

/* index.html */
.works{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.works > h1 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.works section h1 {
  font-weight: normal;
  padding-left: 10px;
}

.works section ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.works p {
  line-height: 1.8;
  padding-left: 20px;
}

/* profile.html */
.profile h1 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  color: gray;
}
.profile ul{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.profile li {
  font-size: 12px;
  list-style: none;
  color: #444;
}


/* concept.html */
.concept h1 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  color: gray;
}
.concept p {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 36px;
  font-size: 12px;
  color: #444;
}

/* link */
.link {
  width: 400px;
  margin: 60px auto 0px;
  font-size: 12px;
  text-align: center;
}

.link a {
  text-decoration: none;
}

/* footer */
footer p {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: gray;
}


